<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">
    COUNTRIES
  </a>
</nav>

<br>


<div class="container">

  <div class="row">

    <div class="col-md-6">

      <div class="card">

        <div class="card-header">
          Ingresar datos
        </div>

        <div class="card-body">

          <form action="index.php" method="post">
            Nombre del pais: <input class="form-control" [(ngModel)]="selectedCountry.country" required placeholder="Ingresar pais" type="text" name="nombre" id="">
            <br>
            Nombre de la ciudad: <input class="form-control" [(ngModel)]="selectedCountry.city" required placeholder="Ingresar ciudad" type="text" name="apellido" id="">
            <br>
            <input class="bt btn-success" (click)="addOrEdit()" type="submit" value="Agregar">
          </form>

        </div>

      </div>

    </div>

    <div class="col-md-6">
      <table class="table">

        <thead>
          <tr>
            <th>ID</th>
            <th>Pais</th>
            <th>Ciudad</th>
            <th>Acción</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let country of countryArray"  >
            <td> {{ country.id }} </td>
            <td> {{ country.country }} </td>
            <td> {{ country.city }} </td>
            <td> <button  class="btn btn-primary"  (click)="openForEdit(country)" [class.active]="country == selectedCountry"  >Editar</button></td>
            <td> <button    class="btn btn-danger" (click)="delete(country)" [class.active]="country == selected2Country"> Eliminar </button> </td>
            
          </tr>
          

        </tbody>

      </table>
      
    </div>

  </div>

</div>
